[project]
	description = Horizontal Recycler View with Header and other features
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alexander (CROSP)
[access "refs/for/refs/*"]
	read = group user/Alexander (CROSP)
	push = group user/Alexander (CROSP)
	label-Code-Review = -2..+2 group user/Alexander (CROSP)
	label-Verified = -1..+1 group user/Alexander (CROSP)
	rebase = group user/Alexander (CROSP)
	removeReviewer = group user/Alexander (CROSP)
	submit = group user/Alexander (CROSP)
[access "refs/heads/*"]
	read = group user/Alexander (CROSP)
	create = group user/Alexander (CROSP)
	push = +force group user/Alexander (CROSP)
	pushMerge = group user/Alexander (CROSP)
[access "refs/tags/*"]
	push = +force group user/Alexander (CROSP)
	createTag = group user/Alexander (CROSP)
	createSignedTag = group user/Alexander (CROSP)
